Repository NVIDIA/TensorRT-Incubator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

build_mlir_tensorrt:
  stage: build-dependencies
  image: gitlab-master.nvidia.com:5005/tensorrt/poc/mlir/mlir-tensorrt:tripy
  services:
  - docker:24.0.5-dind
  before_script:
  - export GROUP_CICD_TOKEN=$GROUP_CICD_TOKEN
  timeout: 3 hours
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

build_container:
  stage: build-tripy-container
  image: gitlab-master.nvidia.com:5005/tensorrt/poc/mlir/mlir-tensorrt:tripy
  services:
  - docker:24.0.5-dind
  before_script:
  - docker info
  - export GROUP_CICD_TOKEN=$GROUP_CICD_TOKEN
  timeout: 2 hours
  script:
  ...

upload-dependencies:
  stage: upload
  image: gitlab-master.nvidia.com:5005/tensorrt/poc/mlir/mlir-tensorrt:tripy
  script:
  - python3 scripts/CI/upload_dependencies.py
  tags:
  - tripy-runner

upload-container:
  stage: upload
  image: gitlab-master.nvidia.com:5005/tensorrt/poc/mlir/mlir-tensorrt:tripy
  services:
  - docker:24.0.5-dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  ...

Update MLIR-TRT & upgrade TRT 10.0.0.1
  .gitlab-ci.yml
  Dockerfile
  mlir-tensorrt.txt
  tests/common/test_array.py
  tests/frontend/test_tensor.py
  tests/integration/test_functional.py
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Install libcudnn8, fix jax gpu tests
  Dockerfile
  tests/common/test_array.py
  tests/frontend/test_tensor.py
  tests/integration/test_functional.py
Due: build_container, upload-container

#116: Generalize warning code to warn users if pdb or dynamic shape tensor is used jitted functions
  tests/backend/jit/test_jit.py
  tripy/backend/jit/jit.py
  tripy/utils/ast.py
  tripy/utils/utils.py
Due: none

#126: Add argmax, argmin
  tests/flat_ir/ops/test_reduce.py
  tests/frontend/trace/ops/test_iota.py
  tests/frontend/trace/ops/test_reduce.py
  tests/integration/test_iota.py
  tests/integration/test_reduce.py
  tripy/flat_ir/ops/__init__.py
  tripy/flat_ir/ops/reduce.py
  tripy/frontend/trace/ops/__init__.py
  tripy/frontend/trace/ops/iota.py
  tripy/frontend/trace/ops/reduce.py
Due: none

Adds code coverage reports to CI, removes some dead code
  .coveragerc
  .gitlab-ci.yml
  pyproject.toml
  tests/README.md
  tests/backend/jit/test_jit.py
  tests/helper.py
  tests/integration/test_functional.py
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Renames FlatIRCompiler/Executor, adds context manager to set env vars
  tests/backend/mlir/test_utils.py
  tests/backend/test_load_save.py
  tests/integration/test_functional.py
  tests/tools/test_stablehlo_runner.py
  tools/stablehlo_runner.py
  tripy/backend/jit/jit.py
  tripy/backend/mlir/compiler.py
  tripy/backend/mlir/executor.py
  tripy/backend/mlir/utils.py
  tripy/frontend/tensor.py
  tripy/utils/utils.py
Due: none

Makes some clarifications in developer documentation
  docs/development/architecture.md
  docs/development/mlir-dialect-python-apis.md
Due: none

Fixes error messages
  tests/common/test_exception.py
  tests/frontend/test_tensor.py
  tests/frontend/test_utils.py
  tests/frontend/trace/ops/test_permute.py
  tests/helper.py
  tests/utils/test_function_registry.py
  tripy/__init__.py
  tripy/backend/jit/jit.py
  tripy/common/exception.py
  tripy/frontend/tensor.py
  tripy/frontend/trace/ops/binary_elementwise.py
  tripy/frontend/utils.py
  tripy/utils/ast.py
  tripy/utils/function_registry.py
  tripy/utils/stack_info.py
  tripy/utils/utils.py
Due: none

Use dynamic_broadcast_in_dim stablehlo op instead of tensorrt op
  mlir-tensorrt.txt
  tripy/flat_ir/ops/broadcast.py
  tripy/flat_ir/ops/shape.py
  tripy/frontend/trace/ops/utils.py
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Update documentation to include tensorrt 10.0 information
  .gitlab-ci.yml
  CONTRIBUTING.md
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Remove static shape code path from unsqueeze flat_ir
  tripy/flat_ir/ops/constant.py
  tripy/flat_ir/ops/shape.py
  tripy/frontend/trace/ops/unsqueeze.py
  tripy/frontend/trace/ops/utils.py
Due: none

Add type annoation for get_shape_of_tensor
  tripy/frontend/trace/ops/utils.py
Due: none

Revert durations=20 change
  .gitlab-ci.yml
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Minor changes to attribute lookup
  tripy/common/exception.py
  tripy/frontend/nn/__init__.py
Due: none

Use Array instead of using numpy directly in ConstantOp
  tripy/common/array.py
  tripy/flat_ir/ops/constant.py
  tripy/frontend/trace/ops/fill.py
  tripy/frontend/trace/ops/reduce.py
  tripy/frontend/trace/ops/storage.py
  tripy/frontend/trace/ops/utils.py
Due: none

#128: Support -1 in reshape operation
  tests/frontend/trace/ops/test_reshape.py
  tests/integration/test_functional.py
  tests/integration/test_reduce.py
  tests/integration/test_reshape.py
  tripy/frontend/trace/ops/reduce.py
  tripy/frontend/trace/ops/reshape.py
  tripy/utils/utils.py
Due: none

Removes useless docstrings
  tripy/flat_ir/ops/add.py
  tripy/flat_ir/ops/broadcast.py
  tripy/flat_ir/ops/compare.py
  tripy/flat_ir/ops/concatenate.py
  tripy/flat_ir/ops/constant.py
  tripy/flat_ir/ops/convert.py
  tripy/flat_ir/ops/copy.py
  tripy/flat_ir/ops/divide.py
  tripy/flat_ir/ops/dot.py
  tripy/flat_ir/ops/exponential.py
  tripy/flat_ir/ops/gather.py
  tripy/flat_ir/ops/iota.py
  tripy/flat_ir/ops/maximum.py
  tripy/flat_ir/ops/minimum.py
  tripy/flat_ir/ops/mul.py
  tripy/flat_ir/ops/pow.py
  tripy/flat_ir/ops/random_normal.py
  tripy/flat_ir/ops/random_uniform.py
  tripy/flat_ir/ops/reduce.py
  tripy/flat_ir/ops/reshape.py
  tripy/flat_ir/ops/rsqrt.py
  tripy/flat_ir/ops/select.py
  tripy/flat_ir/ops/shape.py
  tripy/flat_ir/ops/slice.py
  tripy/flat_ir/ops/sub.py
  tripy/flat_ir/ops/tanh.py
  tripy/flat_ir/ops/transpose.py
Due: none

Use dynamic shape broadcasting in binary element wise op
  tests/integration/test_functional.py
  tripy/frontend/trace/ops/binary_elementwise.py
  tripy/frontend/trace/ops/utils.py
Due: none

Remove dead code
  tripy/frontend/trace/ops/utils.py
Due: none

Remove redundant utility
  tripy/frontend/trace/ops/binary_elementwise.py
  tripy/frontend/trace/ops/utils.py
Due: none

Use dynamic broadcast in where op
  tripy/frontend/trace/ops/where.py
Due: none

Adds developer documentation into the rendered documentation
  docs/README.md
  docs/_static/style.css
  docs/conf.py
  docs/development/architecture.md
  docs/development/architecture.rst
  docs/development/design-decisions.md
  docs/development/design-decisions.rst
  docs/development/how-to-add-new-ops.md
  docs/development/how-to-add-new-ops.rst
  docs/development/mlir-dialect-python-apis.rst
  docs/index.rst
  pyproject.toml
  tests/test_ux.py
Due: build_container, upload-container

Remove static shape code path for matrix multiplication and use dynamic shape instead
  tripy/flat_ir/ops/__init__.py
  tripy/flat_ir/ops/slice.py
  tripy/frontend/trace/ops/matmul.py
  tripy/frontend/trace/ops/utils.py
Due: none

Enable lldb debugging in tripy container
  .lldbinit
  CONTRIBUTING.md
  Dockerfile
Due: build_container, upload-container

Makes dataclass annotations consistent
  docs/development/design-decisions.md
  docs/development/how-to-add-new-ops.md
  tripy/flat_ir/ops/add.py
  tripy/flat_ir/ops/base.py
  tripy/flat_ir/ops/broadcast.py
  tripy/flat_ir/ops/compare.py
  tripy/flat_ir/ops/concatenate.py
  tripy/flat_ir/ops/constant.py
  tripy/flat_ir/ops/convert.py
  tripy/flat_ir/ops/copy.py
  tripy/flat_ir/ops/divide.py
  tripy/flat_ir/ops/dot.py
  tripy/flat_ir/ops/exponential.py
  tripy/flat_ir/ops/gather.py
  tripy/flat_ir/ops/iota.py
  tripy/flat_ir/ops/maximum.py
  tripy/flat_ir/ops/minimum.py
  tripy/flat_ir/ops/mul.py
  tripy/flat_ir/ops/pow.py
  tripy/flat_ir/ops/random_normal.py
  tripy/flat_ir/ops/random_uniform.py
  tripy/flat_ir/ops/reduce.py
  tripy/flat_ir/ops/reshape.py
  tripy/flat_ir/ops/rsqrt.py
  tripy/flat_ir/ops/select.py
  tripy/flat_ir/ops/shape.py
  tripy/flat_ir/ops/slice.py
  tripy/flat_ir/ops/sub.py
  tripy/flat_ir/ops/tanh.py
  tripy/flat_ir/ops/transpose.py
  tripy/frontend/trace/ops/where.py
  tripy/frontend/trace/tensor.py
Due: none

None: Mark tests as dynamic for easier debugging and testing
  pyproject.toml
  tests/integration/test_functional.py
  tests/integration/test_unsqueeze.py
Due: build_container, upload-container

Add Log operation and UnaryElementwise integration tests
  tests/flat_ir/ops/test_log.py
  tests/frontend/trace/ops/test_unary_elementwise.py
  tests/integration/test_unary_elementwise.py
  tripy/flat_ir/ops/__init__.py
  tripy/flat_ir/ops/log.py
  tripy/frontend/trace/ops/unary_elementwise.py
Due: none

Installs MLIR-TRT in the dev container
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
Due: build_mlir_tensorrt, build_container, upload-dependencies, upload-container

Removes more useless docstrings
  tripy/frontend/trace/ops/binary_elementwise.py
  tripy/frontend/trace/ops/cast.py
  tripy/frontend/trace/ops/copy.py
  tripy/frontend/trace/ops/expand.py
  tripy/frontend/trace/ops/fill.py
  tripy/frontend/trace/ops/gather.py
  tripy/frontend/trace/ops/iota.py
  tripy/frontend/trace/ops/matmul.py
  tripy/frontend/trace/ops/permute.py
  tripy/frontend/trace/ops/random.py
  tripy/frontend/trace/ops/reduce.py
  tripy/frontend/trace/ops/reshape.py
  tripy/frontend/trace/ops/shape.py
  tripy/frontend/trace/ops/slice.py
  tripy/frontend/trace/ops/storage.py
  tripy/frontend/trace/ops/unary_elementwise.py
  tripy/frontend/trace/ops/unsqueeze.py
  tripy/frontend/trace/ops/where.py
Due: none

#124: Add nice error msg for missing Tensor attrs
  tests/test_ux.py
  tripy/frontend/tensor.py
Due: none

#130 : Fix the test where jit inside jit causes inner jit args to be evaluated
  tests/backend/jit/test_jit.py
  tripy/backend/jit/jit.py
Due: none

Minor doc improvements, removes some dead code
  docs/development/architecture.md
  tests/backend/mlir/test_utils.py
  tests/integration/test_functional.py
  tests/tools/test_stablehlo_runner.py
  tripy/backend/mlir/compiler.py
  tripy/backend/mlir/utils.py
  tripy/common/logging/verbosity.py
  tripy/frontend/nn/gelu.py
  tripy/frontend/nn/layernorm.py
  tripy/frontend/nn/softmax.py
Due: none

Remove torch as dev dependency and move to test
  pyproject.toml
Due: build_container, upload-container

Add quantize, dequantize op
  tripy/flat_ir/ops/quantize.py
Due: none

Add quantize & dequantize ops
  tests/integration/test_functional.py
  tripy/__init__.py
  tripy/backend/mlir/utils.py
  tripy/flat_ir/ops/__init__.py
  tripy/flat_ir/ops/dequantize.py
  tripy/flat_ir/ops/quantize.py
  tripy/frontend/__init__.py
  tripy/frontend/trace/ops/__init__.py
  tripy/frontend/trace/ops/dequantize.py
  tripy/frontend/trace/ops/quantize.py
Due: none

#110: Use iota instead of ones in example input data
  tripy/frontend/nn/layernorm.py
  tripy/frontend/nn/linear.py
  tripy/frontend/ops/tensor_initializers.py
  tripy/frontend/trace/ops/expand.py
  tripy/frontend/trace/ops/matmul.py
  tripy/frontend/trace/ops/reshape.py
  tripy/frontend/trace/ops/unsqueeze.py
Due: none

#123 : Add shape checks when assigning to a parameter
  tests/frontend/nn/test_linear.py
  tests/frontend/nn/test_module.py
  tripy/frontend/nn/linear.py
  tripy/frontend/nn/module.py
Due: none

Fix zero point, add unit tests
  tests/flat_ir/ops/test_dequantize.py
  tests/flat_ir/ops/test_quantize.py
  tests/frontend/trace/ops/test_dequantize.py
  tests/frontend/trace/ops/test_quantize.py
  tests/integration/test_functional.py
  tripy/__init__.py
  tripy/frontend/trace/ops/dequantize.py
  tripy/frontend/trace/ops/quantize.py
Due: none

Path conditions:
  build_mlir_tensorrt: any of: mlir-tensorrt.txt, .gitlab-ci.yml
  build_container: any of: mlir-tensorrt.txt, Dockerfile, pyproject.toml, .gitlab-ci.yml
  upload-dependencies: any of: mlir-tensorrt.txt, .gitlab-ci.yml
  upload-container: any of: mlir-tensorrt.txt, Dockerfile, pyproject.toml, .gitlab-ci.yml
